* {
    
    font-family:  Helvetica;
}

body {
    background-color: #aaa7a7;
}


h1{
    color: black;
    margin-left: 20px;
}

.subtitulo {
    color: black;
    margin-left: 20px;
}

.img-container {
    display: flex;
    flex-direction: column;
    align-items: left;
  
}
.row {
    display: flex; /* Alinha as imagens horizontalmente */
    
}
.box img {
    width: 250px;
    height: auto;
    border: 1px solid black;
}

.box1 img {
    width: 250px;
    height: 190px;
    border: 1px solid black;
}

.img-corrida, .img-salada,.img-balança,.img-academia{
    height: 18%;
    width: 15%;
}






.main-container {
    border: 3px solid black;
    height: 530px;
    width: 44%;
    display: flex;
    margin-left: 53%;
   margin-top: -26%;
    background-color: rgba(124, 121, 121, 0.896);
}

.gender-box{
    text-align: left;
   margin-left: -35px;
}

li {
    display: inline-block;
}




.titulo-main {
    margin-left: 8px;
}

.text-container{
    padding-left: 10px;
    padding-top: 10px;
}
.altura,.peso,.idade,.btn-container,.result{
    padding-top: 15px;
}


 .block {
    display: block;
}

.required-field{
    color: red;
} 

